[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
numpy = "*"
flask-restful = "*"
flask-migrate = "*"
faker = "*"
pytest = "*"
flask-testing = "*"
pytest-cov = "*"
flask-caching = "*"

[dev-packages]

[requires]
python_version = "3.10"
